@font-face {
  font-family: Cornetta;
  src: url(./fonts/Cornetta-EaLVn.ttf);
}

@font-face {
  font-family: Gloria;
  src: url(./fonts/GloriaHallelujah.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --red: #d2042d;
  --blue: #3f00ff;
  --gray: #202020;
  --border: 2px solid var(--gray);
  --darker-green: #40b5ad;
  font-family: Gloria, Helvetica, sans-serif;
  background-color: aquamarine;
  color: #202020;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  font-size: 1.5rem;
  text-align: center;
  padding: 36px;
}

.main {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  font-size: 1.2rem;
}

.board {
  height: 300px;
  width: 300px;
  font-family: Cornetta, Helvetica, sans-serif;
  display: grid;
  grid-template: 100px 100px 100px / 100px 100px 100px;
  justify-content: center;
  margin: 24px 0;
}

.board-space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.x {
  color: var(--red);
}

.o {
  color: var(--blue);
}

.board-space:nth-child(5) {
  border: var(--border);
}

.board-space:nth-child(1),
.board-space:nth-child(2),
.board-space:nth-child(4) {
  border-right: var(--border);
  border-bottom: var(--border);
}

.board-space:nth-child(2),
.board-space:nth-child(3),
.board-space:nth-child(6) {
  border-left: var(--border);
  border-bottom: var(--border);
}

.board-space:nth-child(4),
.board-space:nth-child(7),
.board-space:nth-child(8) {
  border-right: var(--border);
  border-top: var(--border);
}

.board-space:nth-child(6),
.board-space:nth-child(8),
.board-space:nth-child(9) {
  border-left: var(--border);
  border-top: var(--border);
}

.start {
  width: 100vw;
  position: absolute;
  top: 45vh;
  display: flex;
  justify-content: center;
}

.restart button,
.start button {
  appearance: none;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--darker-green);
  color: var(--gray);
  border: 4px solid var(--gray);
  border-radius: 8px;
  padding: 16px 48px;
}

.restart button:hover,
.start button:hover {
  background-color: var(--gray);
  color: var(--darker-green);
  border: 4px solid var(--darker-green);
}

.footer {
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  padding: 24px;
  font-weight: 700;
}
